h2 {
    color: white;
    background-color: green;
    text-align: left ;
    padding: 8px;  
    margin: 32px;
 }

 p {

 }

 table {

 }

 /* ID */
 #primer_h1 {
    color: white;
 }

 /* Clase */
 .segundo_h1 {
    color: #ffcc00;
 }
 